[theme-demo=light] {
    color: var(--color);
    font-size: var(--font-size);
    line-height: var(--line-height-1-6);
    font-weight: var(--font-weight400);
    background-color: var(--body-color);
}
[theme-demo=dark] {
    color: var(--color)!important;
    font-size: var(--font-size);
    line-height: var(--line-height-1-6);
    font-weight: var(--font-weight400);
    background-color: var(--body-color);
}
.landing_page{
    position: absolute;
    height: 100%;
    width: 100%;
    letter-spacing: 0.5px;
    overflow: scroll;
}
.font-w300{
    font-weight: 300;
}
.font-w400{
    font-weight: 400;
}
.font-w500{
    font-weight: 500;
}
.font-w600{
    font-weight: 600;
}
.font-w200{
    font-weight: 200;
}
::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; 
}